body {
    font-family: Sen-Regular, sans-serif;
    background-color: #00202f;
    color: #97d4c8;
}
.container {
    padding: 10px;
    min-width: 350px;
    max-width: 450px;
}
.h3 {
    font-family: Sen-bold, sans-serif;
    text-transform: capitalize;
}
hr {
    height: 1px;
    color: white;
    background-color: white;
    margin: 10px 0;
}
#download {
    text-align: center
}
#status-icon {
    font-size: 1.5em;
}
.logo {
    position: relative;
}
.logo img {
    width: 100%;
}
.logo span {
    position: absolute;
    bottom: 10px;
    right: 0;
}
.login-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.login-form label,
.login-form input {
    margin: 3px 0;
}
.submit {
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit button {
    margin: 10px;
    border-radius: 0;
    padding: 5px 13px;
    border: none;
    cursor: pointer;
    background-color: #259485;
    color: #ffffff;
}
.submit button:hover {
    background-color: #97d4c8;
    transform: scale(1.05);
    color: #00202f;
}
.options {
    display: flex;
    padding-bottom: 10px;
}
.options span {
    margin-left: 10px;
}
.icons {
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
.icons img {
    width: 25px;
}
#error-out {
    color: red;
    display: none; /* will be made visible when an error occurs */
}
